In [1]:
%config InteractiveShell.ast_node_interactivity="none"

# More recursion: evaluating arithmetic expressions

In [3]:
def combine(x, y, op):
    if op == '+':
        return x+y
    elif op == '-':
        return x-y
    elif op == '*':
        return x*y
    else:
        return x//y
    
def is_op(s):
    return s in '+-*/'

# evaluate a fully parenthesized expression, with ints and + - * / as the only allowed operations
def evaluate(s):
    if not '(' in s:
        return int(s)
    else:
        depth = 0
        i = 0
        while i < len(s):
            if s[i] == '(':
                depth += 1
            elif s[i] == ')':
                depth -= 1
            elif is_op(s[i]) and depth == 1:
                break
            i += 1
        return combine(evaluate(s[1:i]), evaluate(s[i+1:-1]), s[i])

In [5]:
print(evaluate('(1*(2*3))'))

6

# Sudoku solver with recursion ("brute force search")

In [6]:
# is it valid to set table[a][b] to v?
def valid(a, b, v, table):
    
    # clash in the same row?
    for i in range(9):
        if table[a][i] == v:
            return False
    
    # clash in the same column?
    for i in range(9):
        if table[i][b] == v:
            return False
    
    # clash in the same 3 x 3 square?
    s = a//3
    t = b//3
    for i in range(3):
        for j in range(3):
            if table[3*s+i][3*t+j] == v:
                return False
    
    return True

In [7]:
def sudoku_solve(table):
    # find an empty cell to try to fill
    for i in range(9):
        for j in range(9):
            if table[i][j] == 0:
                for v in range(1, 10):
                    if valid(i, j, v, table):
                        table[i][j] = v
                        if sudoku_solve(table):
                            return True
                        table[i][j] = 0
                return False
    return True

<img src="sudoku.png" alt="Sudoku" width="300"/>
<center>A sudoku puzzle</center>
<center>(image credit: https://youtu.be/R0KqX6bUnEo)</center>

In [8]:
table = [
    [0,0,0,0,0,0,0,2,8],
    [0,6,0,0,0,0,0,0,7],
    [0,0,0,4,0,1,0,0,0],
    [5,0,0,9,7,0,3,0,0],
    [2,0,4,0,0,8,0,0,0],
    [3,0,0,0,0,4,5,0,0],
    [1,3,0,0,9,0,0,0,0],
    [0,5,7,0,0,0,0,9,0],
    [0,0,8,3,1,7,0,0,0]
]

In [9]:
def list_to_str(L):
    ans = ''
    for x in L:
        ans += str(x)
    return ans

def pretty_print(table):
    for i in range(3):
        for r in range(3):
            s = list_to_str(table[i*3+r][:3]) + ' ' + list_to_str(table[i*3+r][3:6]) + ' ' + list_to_str(table[i*3+r][6:])
            print(s)
        print('')

In [10]:
pretty_print(table)

000 000 028
060 000 007
000 401 000

500 970 300
204 008 000
300 004 500

130 090 000
057 000 090
008 317 000

In [11]:
sudoku_solve(table)
pretty_print(table)

415 763 928
863 259 417
729 481 635

581 976 342
294 538 761
376 124 589

132 695 874
657 842 193
948 317 256