![Reminder to Save](https://github.com/jamcoders/jamcoders-public-2023/blob/main/images/warning.png?raw=true)

In [ ]:
%config InteractiveShell.ast_node_interactivity="none"
import sys
if 'google.colab' in sys.modules:
    !eval "$(echo "cGlwIGluc3RhbGwgLS1mb3JjZS1yZWluc3RhbGwgZ2l0K2h0dHBzOi8vZ2l0aHViLmNvbS9qYW1jb2RlcnMvamFtY29kZXJzLXB1YmxpYy0yMDI0LmdpdCAtLXF1aWV0Cg==" | base64 -d)"
from jamcoders.base_utils import *

# Week 2, Day 5, Challenge Problems

## Challenge 1: Ancient Egyptian multiplication method
The ancient Egyptians had a method of multiplying integers using only addition, doubling, and halving. Here is how the method works:

1. Take two numbers to be multiplied and write them down at the top of two columns.
2. In the left-hand column repeatedly halve the previous number, discarding any remainders, and write the result below the last in the same column, until you write a value of 1.
3. In the right-hand column repeatedly double the previous number and write the result below. stop when you add a result in the same row as where the left hand column shows 1.
4. Examine the table produced and discard any row where the value in the left column is even.
5. Sum the values in the right-hand column that remain to produce the result of multiplying the original two numbers together

**For example**:   17 × 34
Halving the first column:<br>

17 | 34
--|--
8 |
4 |
2 |
1 |

Doubling the second column:

17 | 34
-----|-----
8 | 68
4 | 136
2 | 272
1 | 544

Strike-out rows whose first cell is even:

17 | 34
---- | -----
8|<s>68</s>
4|<s>136</s>
2|<s>272</s>
1|&emsp;544

Sum the remaining numbers in the right-hand column:

17 | 34
---- | ----
8 | --
4 | ---
2 | ---
1 | 544
**Total** | 578

So 17 multiplied by 34, by the Egyptian method is 578.

### 1.1

Define a helper function named `is_even` that takes in an integer and returns True if the number is even or False if it's odd.

In [ ]:
def is_even(n):
    """
    Tests if a number is even

    Args:
        n (int):
            A number
    Returns (bool):
        True if n is even, False otherwise
    """
    # YOUR CODE HERE
    return False

In [ ]:
# Test cases
assert_equal(want=True, got=is_even(2))
assert_equal(want=False, got=is_even(1))
assert_equal(want=False, got=is_even(15))

### 1.2

Define another helper function named `halve` that takes in an integer and then returns a list with the halved values till it reaches 1. Make sure the list you are returning is sorted from smallest to largest. For example, if you give it the number **17** it should return the list `[17, 8, 4, 2, 1]`, and if you give it the number **105** it should return the list `[105, 52, 26, 13, 6, 3, 1]`.

In [ ]:
def halve(n):
    """
    Constructs the first column in Egyptian multiplication

    Args:
        n (int):
            First number in product
    Returns (list):
        List of numbers in the first column
    """
    # YOUR CODE HERE
    return []

In [ ]:
# Test cases
assert_equal(want=[17, 8, 4, 2, 1], got=halve(17))
assert_equal(want=[105, 52, 26, 13, 6, 3, 1], got=halve(105))

### 1.3

Define another helper function named `double_it` that takes in two arguments. The first argument should be the number that is going to be doubled, and the second should number should be the target length of the list to be returned.(If the second number is 5, you will double the starting number 4 times.) Your function should return a list with the doubled values. Make sure the list is sorted from smallest to largest. For example, if you pass **34** and **5** to your function it should return the list `[34, 68, 136, 272, 544]`.

In [ ]:
def double_it(num, n):
    """
    Constructs the second column in Egyptian multiplication

    Args:
        num (int):
            The number that will be doubled
        n (int):
            The target length of the list to be returned
    Returns (list(int)):
        List of numbers in the second column
    """
    # YOUR CODE HERE
    return doubles

In [ ]:
# Test cases
assert_equal(want=[34, 68, 136, 272, 544], got=double_it(34, 5))

### 1.4
Define a helper function named `sum` that takes in two lists. The two lists will have equal length. You should loop through each corresponding pair of elements in the two lists, and if the element in the first list is not even, then you should add the corresponding element from the second list to your total. Your function should use the `is_even` function you defined earlier to check if the element in the first list is even or not.
For example, calling `sum([17, 8, 4, 2, 1], [34, 68, 136, 272, 544])` should return 578.

In [ ]:
def sum(list1, list2):
    """
    Sums numbers in list2 whose corresponding elements in list1 are not even

    Args:
        list1 (list(int)):
            First column in Egyptian multiplication
        list2 (list(int)):
            Second column in Egyptian multiplication
    Returns (int):
        Egyptian product using input lists
    """
    # YOUR CODE HERE
    return 0

In [ ]:
# Test cases
assert_equal(want=578, got=sum([17, 8, 4, 2, 1], [34, 68, 136, 272, 544]))

### 1.5

Finally, define a function named `multiply` that takes in two arguments (the numbers that are going to be multiplied) and returns the result of multiplying the first number by the second number. You should use the `halve` and `double_it` functions inside this function. Then, pass the results returned from the two helper functions to the `sum` function.

In [ ]:
def multiply(a, b):
    """
    Multiply two ints with Egyptian multiplication

    Args:
        a (int):
            First multiplication operand
        b (int):
            Second multiplication operand
    Returns (int):
        Product of a and b
    """
    # YOUR CODE HERE
    return 0

In [ ]:
# Test cases
assert_equal(want=578, got=multiply(17, 34))
assert_equal(want=225, got=multiply(15, 15))
assert_equal(want=816, got=multiply(24, 34))

## Challange 2: Calculator

### 2.1. Basic Calculator

A math exam is coming up. You want to prepare, but you misplaced your calculator, and the computer you're using only has Google Colab available. Normally you could use arithmetic operators, but your input is given as a string (ex. '1+2*8÷2'). Make a calculator capable of completing addition, subtraction, multiplication, and division. **Do not take order of operations into account. Perform functions from left to right.** Also note that there will be no spaces in the input string, and all numbers will be integers.

In [ ]:
def calc1(string):
    """
    Computes an arithmetic expression in a string, ignoring order of operations

    Args:
        string (str):
            Arithmetic expression

    Returns (float):
        Result of arithmetic expression
    """
    # YOUR CODE HERE
    return 0

In [ ]:
assert_equal(want=36, got=calc1('1+2+3÷2*12'))
assert_equal(want=0, got=calc1('1+2+3÷2*0'))
assert_equal(want=252, got=calc1('100+2+3÷5*12'))

### 2.2. Better Calculator

Now complete exercise 2.1 taking into acount the order of operations. Again, you only need to add functionality for addition, subtraction, multiplication, and division. In addition, there will be no spaces in the string, and all numbers will be integers.

_Hint: It may help to write a function that splits the string into number and operator tokens_

In [ ]:
def calc2(string):
    """
    Computes an arithmetic expression in a string, with order of operations

    Args:
        string (str):
            Arithmetic expression

    Returns (float):
        Result of arithmetic expression
    """
    # YOUR CODE HERE
    return 0

In [ ]:
assert_equal(want=21, got=calc2('1+2+3÷2*12'))
assert_equal(want=3, got=calc2('1+2+3÷2*0'))
assert_equal(want=109.2, got=calc2('100+2+3÷5*12'))